<key>PlatformInfo</key>
<dict>
    <key>Automatic</key>
    <true />
    <key>CustomMemory</key>
    <false />
    <key>Generic</key>
    <dict>
        <key>AdviseWindows</key>
        <false />
        <key>MLB</key>
        <string>C02837200GUJH4R1M</string>
        <key>ProcessorType</key>
        <integer>0</integer>
        <key>SystemMemoryStatus</key>
        <string>Auto</string>
        <key>ROM</key>
        <data>1bnasyoS</data>
        <key>SpoofVendor</key>
        <true />
        <key>SystemProductName</key>
        <string>MacBookPro15,2</string>
        <key>SystemSerialNumber</key>
        <string>C02XD06NJHCC</string>
        <key>SystemUUID</key>
        <string>4EE6927B-1C9D-468F-BE30-4FE5325D7521</string>
    </dict>
    <key>UpdateDataHub</key>
    <true />
    <key>UpdateNVRAM</key>
    <true />
    <key>UpdateSMBIOS</key>
    <true />
    <key>UpdateSMBIOSMode</key>
    <string>Custom</string>
</dict>